@page "/another-profile-view/{Id:int}"
@using BlazorApp1.Model
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Another Profile Details</h3>

@if (StudentProfile == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h5><b>Profile Details</b></h5>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">1</td>
                <td style="width: 65%; background-color: #f9f9f9;">Whether Facilities Provided to the Student(for the year of filling data)</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.FacilitiesProvided ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">2</td>
                <td style="width: 65%; background-color: #f9f9f9;">Facilities provided to Student in case of CWSN(for the year of filling data)</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.IsCWSN ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">3</td>
                <td style="width: 65%; background-color: #f9f9f9;">Whether Student has been screened for specific Learning Disability(SLD)</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.IsSLD ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">4</td>
                <td style="width: 65%; background-color: #f9f9f9;">SLD Type</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.SLDType ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">5</td>
                <td style="width: 65%; background-color: #f9f9f9;">Whether Student has been screened for Autism Spectrum Disorder(ASD)</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.IsASD ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">6</td>
                <td style="width: 65%; background-color: #f9f9f9;">Whether Student has been screened for Attention Deficit Hyperactive Disorder(ADHD)</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.IsADHD ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">7</td>
                <td style="width: 65%; background-color: #f9f9f9;">Has the Student been Identified as a Gifted/Talented</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.IsGifted ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">8</td>
                <td style="width: 65%; background-color: #f9f9f9;">Does the student appeared in any State Level Competitions/National Level Competitions/Olympiads?</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.IsInStateCompetition ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">9</td>
                <td style="width: 65%; background-color: #f9f9f9;">Does the Student Participate in NCC/NSS/Scouts and Guides? </td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.IsInNCC_NSS ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">10</td>
                <td style="width: 65%; background-color: #f9f9f9;">Whether student is capable of handling digital devices including the internet?</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.IsInUseInternet ?? "N/A")</td>
            </tr>

            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">11</td>
                <td style="width: 65%; background-color: #f9f9f9;">Student's Height(in CMs)</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.Height ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">12</td>
                <td style="width: 65%; background-color: #f9f9f9;">Student's Weight (in KGs)</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.Weight ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">13</td>
                <td style="width: 65%; background-color: #f9f9f9;">Approximate Distance of student's residence to school</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.Residencetoschool ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%; background-color: #f9f9f9;">14</td>
                <td style="width: 65%; background-color: #f9f9f9;">Completed Highest Education Level of Mother/Father/Legal Guardian</td>
                <td style="width: 60%; background-color: #ffffff;">@(StudentProfile.Educationinfamily ?? "N/A")</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-secondary" @onclick="GoBack">Back to List</button>
}

@code {
    [Parameter] public int Id { get; set; }

    StudentProfile? StudentProfile;

    protected override async Task OnInitializedAsync()
    {
        StudentProfile = await Http.GetFromJsonAsync<StudentProfile>($"api/StudentProfile/get/{Id}");
    }

    void GoBack()
    {
        Navigation.NavigateTo("/student-profile-list");
    }
}
